---
layout: default
---

<!-- Page Header -->
{% if page.background %}
  <header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
    <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
              <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-10 mx-auto">

        {{ content }}
          
        <!-- Features: Option 1 -->
      <!-- ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">
    <!-- Three columns -->
    <div class="row">
        <div class="col-lg-4">
            <!-- these used to have class="rounded-circle" but it didn't work with icons. would potentially work with different images --><img src="/assets/images/icons/np_certificate_928715_1E4B88.png" alt="Cornerstone Research Workshops Badge" class="w-50">
            <h2>Workshops</h2>
            <p>Gain a solid foundation in academic research and writing and earn a certificate for each workshop you complete!</p>
            <div class="d-none d-xs-block d-sm-block d-md-block d-lg-none d-xl-none">
                <p><a class="btn btn-primary btn-block" href="#" role="button">All Workshops &raquo;</a></p>
            </div>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4"> <img src="/assets/images/icons/np_wireframe_162980_1E4B88.png" alt="Online tutorials" class="w-50">
            <h2>Tutorials</h2>
            <p>Get right to it with tutorials on <a href="#">planning your project</a>, <a href="#">finding and citing sources</a>, <a href="#">writing literature reviews</a> and <a href="#">more</a>.</p>
            <div class="d-none d-xs-block d-sm-block d-md-block d-lg-none d-xl-none">
                <p><a class="btn btn-primary btn-block" href="#" role="button">All Tutorials &raquo;</a></p>
            </div>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4"> <img src="/assets/images/icons/np_report_1957810_1E4B88.png" alt="Handouts and printable activities" class="w-50">
            <h2>Handouts</h2>
            <p>Prefer to work on paper? No problem - we make printable handouts, too.</p>
            <div class="d-none d-xs-block d-sm-block d-md-block d-lg-none d-xl-none">
                <p><a class="btn btn-primary btn-block" href="#" role="button">All Handouts &raquo;</a></p>
            </div>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-4 d-none d-lg-block d-xl-block">
            <p><a class="btn btn-primary btn-block" href="#" role="button">All Workshops &raquo;</a></p>
        </div>
        <div class="col-lg-4 d-none d-lg-block d-xl-block">
            <p><a class="btn btn-primary btn-block" href="#" role="button">All Tutorials &raquo;</a></p>
        </div>
        <div class="col-lg-4 d-none d-lg-block d-xl-block">
            <p><a class="btn btn-primary btn-block" href="#" role="button">All Handouts &raquo;</a></p>
        </div>
    </div>
          </div><!-- /.row -->
</div>
      </div>
          
          
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-lg-5">
            <h2 class="featurette-heading">Hi! <span class="text-muted">We're WI+RE.</span></h2>
            <p class="lead">WI+RE is a learner-led community focused on helping everyone succeed in their writing and research projects.</p>
          </div>
          <div class="col-lg-7">
              <span class="align-middle">
                <img class="featurette-image img-fluid mx-auto align-middle img-thumbnail" style="transform: rotate(3deg);" src="/assets/images/wire-creative-team-2.jpg" alt="WI+RE's creative team in the WI+RE studio">
              </span>
          </div>
            <div class="col-lg-4 p-2">
                <a class="btn btn-primary btn-block" href="#" role="button">Meet the Creative Team &raquo;</a>
            </div>
            <div class="col-lg-4 p-2">
                <a class="btn btn-primary btn-block" href="#" role="button">Visit WI+RE's Sandbox &raquo;</a>
            </div>
            <div class="col-lg-4 p-2">
                <a class="btn btn-primary btn-block" href="#" role="button">Our Design Tools and Process &raquo;</a>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">We share!</span></h2>
            <p class="lead">As strong believers in open educational resources, all of our work is open source, and our tips can be shared, re-used, and re-mixed under creative commons Attribution-NonCommercial-ShareAlike license.</p>
            <p>Want to collaborate? We would too! Check out <a href="http://github.com/uclalibrary/research-tips" target="_blank">our code repository</a> and <a href="/contact">let us know your ideas!</a></p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="/assets/images/icons/np_open-education_33913_1E4B88.png" alt="Open Educational Resources">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

        <!-- Home Post Recent List -->
      <h1>What's new?</h1>
        {% for post in site.posts limit : 3 %}

          <article class="post-preview">
            <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
              <h2 class="post-title">{{ post.title }}</h2>
              {% if post.subtitle %}
                <h3 class="post-subtitle">{{ post.subtitle }}</h3>
              {% else %}
                <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
              {% endif %}
            </a>
            <p class="post-meta">Posted by
              {% if post.author %}
                {{ post.author }}
              {% else %}
                {{ site.author }}
              {% endif %}
              on
              {{ post.date | date: '%B %d, %Y' }}</p>
          </article>

          <hr>

        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>

