---
layout: default
---
<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
<header class="masthead">
{% endif %}
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          <!-- all the same between post and page before this point -->
        <div class="post-heading"> <!-- configure this in custom css -->
            <div class="post-heading-text-box heading-text-box">
          <h1>{{ page.title }}</h1>
          {% if page.subtitle %}
          <h2 class="subheading">{{ page.subtitle }}</h2>
          {% endif %}
          <!-- this captures the list of team member names from site.team-members -->
          {% capture member-name-list %}{{ site.team-members | map: 'title' | split: ',' }}{% endcapture %}
          <!-- -->
          <span class="meta">Posted by
            {% if post.author %}
                {% for authorname in post.author %}
                    {% if member-name-list contains authorname %}
                        <a href="{{ authorname | slugify | prepend: '/about/creative-team/' | relative_url }}">{{ authorname }}</a>{% if forloop.last == false %},{% endif %}
                    {% else %}
                        {{ authorname }}{% if forloop.last == false %},{% endif %}
                    {% endif %}
                {% endfor %}
            {% else %}
                <a href="{{ '/about/creative-team/' | relative_url }}">{{ site.author }}</a>
            {% endif %}
            on {{ page.date | date: '%B %d, %Y' }}</span>
            </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

      {{ content }}

      <hr>

      <div class="clearfix">

        {% if page.previous.url %}
        <a class="btn btn-primary float-left" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; Previous<span class="d-none d-md-inline"> Post</span></a>
        {% endif %}
        {% if page.next.url %}
        <a class="btn btn-primary float-right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Next<span class="d-none d-md-inline"> Post</span> &rarr;</a>
        {% endif %}

      </div>

    </div>
  </div>
</div>
